.env/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

logs
*.log
*.log.*

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.env
.env.local
.env.development
.env.test
.env.production

.cache/
.tmp/
temp/
tsconfig.tsbuildinfo

*.tsbuildinfo

/packages/client/.next/
/packages/client/out/
/packages/client/coverage/
/packages/server/coverage/

chokidar-temp*

packages/server/server/public/static/images/

dist/server/client/src/blog/mdfiles/
dist/server/server/public/

*.swp